*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 60%;
    margin: 0 auto;
    border: 1px solid gray;
}
header{
    display: flex;
    background-color: rgb(33, 125, 79);
    text-align: center;
    max-height: 70px;
}
header img{
    height: 70px;
    width:110px;
    display: block;
}
header h2{
    line-height: 70px;
    color: aliceblue;
    align-items: center;
    width:100%;
}
/* nav{
    height:30px;
    border-bottom:1px solid gray;
}
nav ul{
    margin-left: 0px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    float: left;/*hoac display: flex o the {nav ul};
    width: 20%;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: black;
    border-right: 1px solid gray;
    padding: 0px;
    font-weight: bold;
}*/
nav ul{
    background-color: rgb(26, 10, 98);
    text-align: center;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    /* width: 100px; Dùng width thì ko thể chỉnh kích thước trên điện thoại được*/
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    display: block; 
    padding-left: 30px;
    padding-right: 30px;
}
nav ul li a:hover{
    background-color: rgb(224, 224, 238);
    color:black;
    transition: 0.5s;
}
.icon{
    display: none;
}
section{
    padding-bottom: 20px;
    
}
section p{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
}
section h1{
    text-align: center;
    padding-top: 20px;
}
section ul{
    padding-left: 50px;
    padding-top: 20px;
    line-height: 40px;
}
section img{
    width: 80%;
    height: 120%;
}
figure{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
span{
    font-weight: bold;
}
table{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table tr td input{
    padding-left:0px;
    margin-left: 0px;
}
footer{
    background-color: rgb(33, 125, 79);
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
@media all and (max-width: 620px) {
    header h2{
        font-size: 15px;
    }
}
@media all and (max-width: 1000px){
    nav ul{
         display: none; /*Bỏ trong<div> mới có tác dụng*/
    }
    #container{
        width: 100%;
    }
    i{
        display: block;
        padding: 8px;
        font-size:xx-large;
        color:aliceblue
    }
    nav{
        background-color: rgb(26, 10, 98);
    }
    ul.active{
        margin: 0 auto;
        background-color:rgb(26, 10, 98);
        position: fixed;
        top:120px;
        left: 0px;
        display: block;
        width: 100%;
    }
    nav ul li{
        display: block;
        text-align: center;
        border: 1px solid white;
        width: 100%;
    }
    .icon{
        display: block;
    }
}
